{% extends 'news/stock_news.html' %}
{% load  static %}

{% block sina_news %}
    <div id="data_sina_head">
    <span>
        <a href="#">A股</a>
    </span>
        <span>
        <a href="#">国际</a>
    </span>
        <span>
        <a href="#">焦点</a>
    </span>
    </div>
    <hr style="filter: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color="#6f5499" size="10"/>
    <div id="news-body">
        <div id="a-news" style="display: block;">
            <tbody>
            {% for d in data %}
                <div>
                    {% for i in d %}
                        <td>
                            {{ i }}
                        </td>
                    {% endfor %}
                </div><br>
            {% endfor %}
            </tbody>
        </div>
    </div>

    {% block sina_24_news %}{% endblock sina_24_news %}
{% endblock %}